$bg-fund: #F4F4F4;
$bg-containers: #FFF;

$titles: #3C3B3B; 
$paragraph: #646464; 

$letter-spacing: 4px;
$letter-spacing-p: 2px;
$line-height: 1.4;

$color-icons: rgba(136, 136, 136, 0.9);

$hover-color: #2EBAAE;

$border: .5px solid rgba(0, 0, 0, .1); 
$border-dotted: 1px dotted rgba(0, 0, 0, .25);

$margin: 1rem;

